#header {
  background-image: url("../img/assets/AndoverHighSchool.jpg");
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  filter: grayscale(75%); /* This looks sick */
}
