/* # */

/* A */

/* B */

/* C */
.category-color {
    height: 80px;
}
.container-fluid {
    padding-left: 5% !important;
    padding-right: 5% !important;
}

/* D */

/* E */

/* F */

/* G */

/* H */
header {
    background: url("http://az616578.vo.msecnd.net/files/2016/09/27/636105387238176414439634842_Protesters.jpg") center center;
    background-size: cover;
    height: 45vh;
    width: 100vw;
    position: relative;
    bottom: 25px;
}
.header-text {
    position: relative;
    top: 100px;
}
#home p {
    font-size: 15px;
    font-weight: 300;
}
hr.intro {
    width: 100px;
}
.hr {
    border-bottom: solid 3px #607d8b;
    width: 40px;
}

/* I */
.tabs .indicator {
    background-color: black;
}

.indent {
    text-indent: 2%;
}

/* J */

/* K */

/* L */
.light {
    font-weight: 300;
}

/* M */
.modal.bottom-sheet {
    max-height: 100% !important;
    height: 100vh
}

/* N */

/* O */

/* P */

/* Q */

/* R */

/* S */
#sidenav-overlay {
    z-index: 990;
}
.side-nav .userInfo a.other {
    font-size: 13px;
    font-weight: 500 !important;
    display: block;
    padding: 0px;
}

.side-nav .userInfo a.other:hover {
    background: transparent;
}

.side-nav .userInfo span.name {
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
}

.side-nav li.userView {
    background-image: url(http://az616578.vo.msecnd.net/files/2016/09/27/636105387238176414439634842_Protesters.jpg);
    height: 150px;
    background-size: cover;
    padding-top: 50px;
}

/* T */
.thin {
    font-weight: 200;
}

/* U */

/* V */

/* W */
@media screen and (max-width: 993px) {
    .writer-info {
        height: 150px !important;
    }
}


/* X */

/* Y */

/* Z */
