/* # */

/* A */

/* B */

/* C */
.category-color {
    height: 80px;
}
.container-fluid {
    padding-left: 5% !important;
    padding-right: 5% !important;
}

/* D */

/* E */

/* F */

/* G */

/* H */
header {
    background: url("http://az616578.vo.msecnd.net/files/2016/09/27/636105387238176414439634842_Protesters.jpg") center center;
    height: 40vh !important;
    background-size: cover;
}
/* I */
.tabs .indicator {
    background-color: black;
}

.indent {
    text-indent: 2%;
}

/* J */

/* K */

/* L */
.light {
    font-weight: 300;
}

/* M */
.modal.bottom-sheet {
    max-height: 100% !important;
    height: 100vh
}

/* N */

/* O */

/* P */

/* Q */

/* R */

/* S */
#sidenav-overlay {
    z-index: 990;
}

/* T */
.thin {
    font-weight: 200;
}

/* U */

/* V */

/* W */
@media screen and (max-width: 993px) {
    .writer-info {
        height: 150px !important;
    }
}


/* X */

/* Y */

/* Z */
